{% extends 'base.html.njk' %}

{% block title %}Most Liked Fossils{%  endblock title%}

{% block body %}
  <h1>Welcome, {{usersName}}</h1>
  {% for fossil in fossils %}
    <div class="fossil-div">
      <h3>{{usersName}}, this is a {{ fossil.name }}</h3>
      <h2>Liked {{ fossil.num_likes }} times.</h2>
      <img src="{{ fossil.img }}" />
    </div>
  {% endfor %}

  <form>
    <div>
      <label for="like">Like a fossil:</label>
      <select name = "like" id="like">
        {% for each in fossils%}
          <option>{{each.name}}</option>
        {% endfor %}
        {# <option> value=</option>
        <option> value=</option>
        <option> value=</option>
        <option> value=</option> #}
      </select>
    </div>
  </form>
{% endblock body %}